.project {
    overflow-x: hidden;
    overflow-y: scroll;
}

.project__title {
    text-align: center;
}

.project__columns {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}

/*Column Specific Styling*/



/*Task Specific Styling*/
.category__cat__button {
    margin-top: 1rem;
}
